body {
    background: rgb(255, 165, 0, 0.3);
  }
  
input {
    padding: 5px;
    border: 2px inset rgb(255, 77, 77);
    background: rgb(255, 221, 204);
    border-radius: 30px;
    width: 30%;
  }
  
button {
    font-family: "Gill Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px;
    background: rgb(255, 153, 102);
    border: 2px outset rgb(255, 77, 77);
    border-radius: 50px;
    transition-delay: 0.1s;
  
  }
  
button:hover {
    background: rgb(255, 204, 0, 0.6);
  }
    
img {
    background: url("upload.wikimedia.org/wikipedia/en/thumb/c/ce/Goomba.PNG/220px-Goomba.PNG") rgba(0, 0, 0, 0),
  url("mario.wiki.gallery/images/thumb/6/63/CheepCheepNSMBU.png/1200px-CheepCheepNSMBU.png") rgba(0, 0, 0, 0),
  url("static.wikia.nocookie.net/mario/images/8/8c/Bob-omb%2C_New_Super_Mario_Bros._U.png") rgba(0, 0, 0, 0);
      height: 40%;
      width: 40%;
      display: block;
      margin: 0 auto;
  }
    
#header {
      font-family: "Gill Sans", sans-serif;
      font-size: 24px;
      text-align: center;
      font-weight: 700;
      letter-spacing: 2px;
  }
    
#collected {
      font-family: "Gill Sans", sans-serif;
      margin-top: 10%;
      font-size: 18px;
      text-align: center;
  }
    
#pricing {
      font-family: "Gill Sans", sans-serif;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
  }
    
#price {
      border: 8px double black;
      border-radius: 30px;
  }
    
#number {
      font-family: "Gill Sans", sans-serif;
      font-size: 18px;
  }
    
#footer {
      padding: 10px;
      font-family: "Gill Sans", sans-serif;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      display: inline-block;
  }
  
#footerBr {
      font-weight: 900;
      font-family: "Gill Sans", sans-serif;
      font-size: 22px;
      text-align: center;
      display: inline-block;
  }
  
hr#break {
      border-top: 3px dotted black;
      border-bottom: 0;
      border-right: 0;
      border-left: 0;
  }
    
#title {
      font-size: 50px;
      font-weight: 700;
      padding: 25px;
      text-align: center;
      font-family: "Gill Sans", sans-serif;
      color: rgb(255, 77, 77);
      text-shadow: 3px 3px 3px black;
      letter-spacing: 8px;
  }
    
.item2{
      border: 5px solid rgb(255, 77, 77);
      background: rgb(255, 128, 128);
      border-radius: 50px;
      padding: 10px;
      text-align: center;
  }
    
.item3{
      border: 5px solid rgb(255, 77, 77);
      background: rgb(255, 128, 128);
      border-radius: 50px;
      padding: 10px;
      text-align: center;
  }
    
.item4{
      border: 5px solid rgb(255, 77, 77);
      background: rgb(255, 128, 128);
      border-radius: 50px;
      padding: 10px;
      text-align: center;
  }
  
.item5 {
      border: 5px solid rgb(255, 77, 77);
      background: rgb(255, 128, 128);
      border-radius: 50px;
      padding: 10px;
  }
    
.item6 {
      padding: 10px;
      margin-top: 50px;
      text-align: center;
      grid-column: 1 / 5;
    
  }
  
@media screen and (min-width: 1201px){
    .grid {
        min-height: 100px;
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 50px;
    }
}

body {
    background: rgb(255, 165, 0, 0.3);
  }
  
input {
    padding: 5px;
    border: 2px inset rgb(255, 77, 77);
    background: rgb(255, 221, 204);
    border-radius: 30px;
    width: 30%;
  }
  
button {
    font-family: "Gill Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px;
    background: rgb(255, 153, 102);
    border: 2px outset rgb(255, 77, 77);
    border-radius: 50px;
    transition-delay: 0.1s;
  
  }
  
button:hover {
    background: rgb(255, 204, 0, 0.6);
  }
    
img {
    background: url("upload.wikimedia.org/wikipedia/en/thumb/c/ce/Goomba.PNG/220px-Goomba.PNG") rgba(0, 0, 0, 0),
  url("mario.wiki.gallery/images/thumb/6/63/CheepCheepNSMBU.png/1200px-CheepCheepNSMBU.png") rgba(0, 0, 0, 0),
  url("static.wikia.nocookie.net/mario/images/8/8c/Bob-omb%2C_New_Super_Mario_Bros._U.png") rgba(0, 0, 0, 0);
      height: 40%;
      width: 40%;
      display: block;
      margin: 0 auto;
  }
    
#header {
      font-family: "Gill Sans", sans-serif;
      font-size: 24px;
      text-align: center;
      font-weight: 700;
      letter-spacing: 2px;
  }
    
#collected {
      font-family: "Gill Sans", sans-serif;
      margin-top: 10%;
      font-size: 18px;
      text-align: center;
  }
    
#pricing {
      font-family: "Gill Sans", sans-serif;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
  }
    
#price {
      border: 8px double black;
      border-radius: 30px;
  }
    
#number {
      font-family: "Gill Sans", sans-serif;
      font-size: 18px;
  }
    
#footer {
      padding: 10px;
      font-family: "Gill Sans", sans-serif;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      display: inline-block;
  }
  
#footerBr {
      font-weight: 900;
      font-family: "Gill Sans", sans-serif;
      font-size: 22px;
      text-align: center;
      display: inline-block;
  }
  
hr#break {
      border-top: 3px dotted black;
      border-bottom: 0;
      border-right: 0;
      border-left: 0;
  }
    
#title {
      font-size: 50px;
      font-weight: 700;
      padding: 25px;
      text-align: center;
      font-family: "Gill Sans", sans-serif;
      color: rgb(255, 77, 77);
      text-shadow: 3px 3px 3px black;
      letter-spacing: 8px;
  }
    
.item2{
      border: 5px solid rgb(255, 77, 77);
      background: rgb(255, 128, 128);
      border-radius: 50px;
      padding: 10px;
      text-align: center;
  }
    
.item3{
      border: 5px solid rgb(255, 77, 77);
      background: rgb(255, 128, 128);
      border-radius: 50px;
      padding: 10px;
      text-align: center;
  }
    
.item4{
      border: 5px solid rgb(255, 77, 77);
      background: rgb(255, 128, 128);
      border-radius: 50px;
      padding: 10px;
      text-align: center;
  }
  
.item5 {
      border: 5px solid rgb(255, 77, 77);
      background: rgb(255, 128, 128);
      border-radius: 50px;
      padding: 10px;
  }
    
.item6 {
      padding: 10px;
      margin-top: 50px;
      text-align: center;
      grid-column: 1 / 5;
    
  }
  
@media screen and (min-width: 1201px){
    .grid {
        min-height: 100px;
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 50px;
    }
}

@media screen and (min-width: 623px) and (max-width: 1200px) {
    .grid {
      min-height: 100px;
      width: 70%;
      margin: auto;
      grid-gap: 50px;
  }
  [class*='item'] {
    margin-bottom: 30px;
}
  #footer {
      display: inline-block;
      font-size: 16px; 
  
}}

@media screen and (min-width:481px) and (max-width: 622px) {
    .grid {
      min-height: 100px;
      width: 70%;
      margin: auto;
  }
  [class*='item'] {
    margin-bottom: 30px;
}
  #footer {
      display: inline-block;
      font-size: 16px; 
  }
  #footerBr {
    font-size: 0%;
}}

@media screen and (max-width: 480px) {
      .grid {
        min-height: 100px;
        width: 70%;
        margin: auto;
    }
    [class*='item'] {
        margin-bottom: 30px;
    }
    #title {
        font-size: 28px;
    }
    #header {
        font-size: 18px;
    }
    #footer {
        display: inline-block;
        font-size: 14px; 
    }
    #footerBr {
        font-size: 0%;
    }
  }