html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    font-size: .8em;
    background: url("https://images.pexels.com/photos/4603529/pexels-photo-4603529.jpeg") no-repeat 30% center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* color: rgba(40, 40, 40, 0.7); */
    font-family: "Gill Sans", sans-serif;
}

#formContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

@media (max-width: 1000px) {
    #formContainer {
      display: block;
      margin-left: 10%;
      margin-right: 10%;
    }
}

#form {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    background: rgb(26, 26, 26, .7);
    border: 1px solid rgb(26, 26, 26);
    box-shadow: 3px 5px 12px black;
    border-radius: 10px;
    padding: 10px;
    
}



#inputBoxes {
    width: fit-content;
    display: inline-block;
    margin: 0;
    margin-top: 40px;
    padding-bottom: 10px;
    
}

input[type=text], input[type=number], input[type=url] {
    border-radius: 3em;
    padding: 5px 0 5px 15px;
    margin-top: 30px;
    margin: 3px;
    background: rgb(149, 149, 149);
    border: 2px outset rgba(184, 184, 184, 0.476);
    color: rgba(16, 16, 16, 0.846);
    transition: all ease-in-out 1s;
}

@media (min-width: 1201px) {input[type=text], input[type=number], input[type=url] {font-size: 1em;}}
@media (max-width: 1200px) {input[type=text], input[type=number], input[type=url] {font-size: 1em;}}
@media (max-width: 1000px) {input[type=text], input[type=number], input[type=url] {font-size: 1em;}}
@media (max-width: 600px) {input[type=text], input[type=number], input[type=url] {font-size: .7em;}}
@media (max-width: 350px) {input[type=text], input[type=number], input[type=url] {font-size: .6em;}}

::placeholder {
    color: rgba(16, 16, 16, 0.846);
}

input:hover {
    background: rgb(192, 149, 166);
    transition: all ease-in-out 1s;
}

label {
    color: rgba(179, 179, 179, 0.85) 
}

/* #clickables {
    display: flex;
    justify-content: center;
    flex-grow: 1;
} */

@media (min-width: 1201px) {#clickables {font-size: 1em;}}
@media (max-width: 1200px) {#clickables {font-size: 1em;}}
@media (max-width: 1000px) {#clickables {font-size: .8em;}}
@media (max-width: 600px) {#clickables {font-size: .7em;}}
@media (max-width: 350px) {#clickables {font-size: .6em;}}

#priorityCheck {
    display: inline-block;
    color: rgba(179, 179, 179, 0.51);
    margin: 10px;
}

#submit {
    display: inline-block;
    border: 2px groove rgb(95, 72, 127);
    border-radius: 30px;
    color: rgba(179, 179, 179, 0.85);
    background: rgb(0, 0, 0, 0.65);
    margin: 10px;
    transition: all ease-in-out .7s;
}

#submit:hover {
    background: rgba(54, 42, 65, 0.882);
    transition: all ease-in-out .2s;
}


#header {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    left: 10%;
    right: 10%;
    font-size: 1.7em;
    color: rgba(179, 179, 179, 0.85);
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
}

@media (min-width: 1201px) {#header {font-size: 1.8em;}}
@media (max-width: 1200px) {#header {font-size: 1.8em;}}
@media (max-width: 1000px) {#header {font-size: 1.7em;}}
@media (max-width: 600px) {#header {font-size: 1.2em;}}
@media (max-width: 350px) {#header {display: block; margin-top: 8%; font-size: 1em;}}

#subHeader {
    margin-top: 10px;
    padding: 0 0 10px 0;
    font-size: 1.7em;
    color: rgba(179, 179, 179, 0.85);
    text-align: center;
    letter-spacing: 2px;
    font-weight: lighter;
}

@media (min-width: 1201px) {#subHeader {font-size: 1.8em;}}
@media (max-width: 1200px) {#subHeader {font-size: 1.8em;}}
@media (max-width: 1000px) {#subHeader {font-size: 1.7em;}}
@media (max-width: 600px) {#subHeader {font-size: 1.2em;}}
@media (max-width: 350px) {#subHeader {font-size: 1em;}}

#tableWrapper {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 1000px) {
    #tableWrapper {
      margin-left: 10%;
      margin-right: 10%;
    }
}

/* New Task */
#newTask {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.375) 8px 8px 12px, rgba(0, 0, 0, 0.292) 0px 15px 12px;
    margin: 0 10px 10px 10px;
    max-height: 250px;
    overflow: auto;
    background: rgba(25, 25, 25, 0.85);
    border: 1px solid rgb(95, 72, 127);
    border-radius: 10px;
    padding: .3rem;
    /* cursor: move; */
}

td img  {
    width: auto;
    padding: 5px;
    margin: 0;
}

#taskImg {
    display: inline-block;
}

@media (min-width: 1201px) {td img{max-height: 100px;}}
@media (max-width: 1200px) {td img{max-height: 100px;}}
@media (max-width: 1000px) {td img{max-height: 85px;}}
@media (max-width: 600px) {td img{max-height: 50px;}}
@media (max-width: 350px) {td img{max-height: 30px; padding: 0;}}

.buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    align-self: flex-end;
    border-style: none;
    text-align: right;
    background: none;
    padding: 2px;
}


@media (max-width: 500px) {.buttons{display:block; padding-right: 2px; text-align: center;}}


.checkbox {
    margin-left: auto;
    display: flex;
    align-items: center;
    align-self: flex-end;
    text-align: right;
    background: none;
}

input.checkbox {
    margin-left: 8px;
}

@media (max-width: 500px) {.input.checkbox{margin: 0;}}

.fa-solid {
    color: rgba(112, 198, 247, 0.712);
    transition: all ease-in-out .2s;
}

@media (min-width: 1201px) {.fa-solid {font-size: medium;}}
@media (max-width: 1200px) {.fa-solid {font-size: medium;}}
@media (max-width: 1000px) {.fa-solid {font-size: small;}}
@media (max-width: 600px) {.fa-solid {font-size: x-small;}}
@media (max-width: 350px) {.fa-solid {font-size: xx-small;}}


.fa-solid:hover {
    color: rgba(157, 112, 247, 0.712);
}

.fa-solid:active {
    color: rgba(247, 112, 211, 0.712);
}

button#edit, button#delete {
    margin: 0;
    padding:0;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    padding-left: 8px;
    transition: all ease-in-out .5s;
}
@media (max-width: 500px) {button#edit, button#delete{padding-left: 8;}}
@media (max-width: 500px) {button#edit, button#delete{display:block; padding-left: 0; padding-right: 3px; text-align: center;}}

input#taskTitle:disabled, input#taskPrice:disabled {
    width: 100%;
    padding-right: 5px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    transition: all ease-in-out .5s;
}

input#taskDescription:disabled {
    width: 110%;
    height:fit-content;
    padding-right: 5px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    transition: all ease-in-out .5s;
}


input#taskTitle:enabled, input#taskDescription:enabled, input#taskPrice:enabled {
    font-size:.9em;
    border-radius: 3em;
    padding: 5px 0 5px 15px;
    margin-top: 30px;
    margin: 3px;
    background: rgb(149, 149, 149);
    border: 2px outset rgba(184, 184, 184, 0.476);
    color: rgba(16, 16, 16, 0.846);
    transition: all ease-in-out 1s;
}

input#taskTitle:enabled:hover, input#taskDescription:enabled:hover, input#taskPrice:enabled:hover {
    background: rgb(192, 149, 166);
    transition: all ease-in-out 1s;
}

#taskTitle {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right:auto;
    justify-content:left;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
    color: rgba(184, 106, 129, 0.863);
}

@media (min-width: 1201px) {#taskTitle {font-size: 1.4em;}}
@media (max-width: 1200px) {#taskTitle {font-size: 1.4em;}}
@media (max-width: 1000px) {#taskTitle {font-size: 1.4em;}}
@media (max-width: 600px) {#taskTitle {font-size: .9em;}}
@media (max-width: 350px) {#taskTitle {font-size: .75em;}}

#taskDescription, #taskPrice {
    display: flex;
    align-items: left;
    padding-bottom: 5px;
    font-size: .9em;
    color: rgba(154, 154, 154, 0.842);
}
@media (min-width: 1201px) {#taskDescription, #taskPrice {font-size: 1.2em; }}
@media (max-width: 1200px) {#taskDescription, #taskPrice {font-size: 1.2em; }}
@media (max-width: 1000px) {#taskDescription, #taskPrice {font-size: 1.2em; }}
@media (max-width: 600px) {#taskDescription, #taskPrice {font-size: .7em; }}
@media (max-width: 350px) {#taskDescription, #taskPrice {font-size: .6em; }}

table {
    display: flex;
    margin: 0;
    justify-content: center;  
}

tbody {
    width: 80%;
}

@media (min-width: 1201px) {tbody {width: 95%;}}
@media (max-width: 1200px) {tbody {width: 95%;}}
@media (max-width: 1000px) {tbody {width: 100%;}}


#todoTasks {
    display: inline-block;
    width: 90%;
    background: rgb(26, 26, 26, .7);
    border: 1px solid rgb(26, 26, 26);
    box-shadow: 3px 5px 12px black;
    border-radius: 10px 10px 30px 30px;
    padding: 0;
    margin-top: 20px;
    padding-bottom: 10px;
}

@media (min-width: 1201px) {#todoTasks {width: 60%;}}
@media (max-width: 1200px) {#todoTasks {width: 80%;}}
@media (max-width: 1000px) {#todoTasks {width: 100%;}}






